script#zpool-tmpl(type="text/x-jquery-tmpl")
  .diskarrays.widget-container.c4.r1

script#zpool-caption-tmpl(type="text/x-jquery-tmpl")
  article
    header 
      h1 ${name}
    .content
      h1.status ${status}
      .special-disks
    footer
      code zpool status

script#diskarray-special-tmpl(type="text/x-jquery-tmpl")
  .disks

script#diskarrays-tmpl(type="text/x-jquery-tmpl")

script#diskarray-tmpl(type="text/x-jquery-tmpl")
  article
    header
      h1 ${name} <small>${type}</small>
    .content
      .disks
    footer
      code zpool status

script#disk-tmpl(type="text/x-jquery-tmpl")
  .id ${deviceId}
  .type ${type}
  .size ${size}

script#iostats-tmpl(type="text/x-jquery-tmpl")
  article
    header
      h1 Pool IO
    .content
    footer
      code zpool iostat


script#pool-scan-tmpl(type="text/x-jquery-tmpl")
  article
    header
      h1 Pool Scans
    .content
    footer
      code zpool status

script#filesystem-tmpl(type="text/x-jquery-tmpl")

script#zfs-capacity-tmpl(type="text/x-jquery-tmpl")
  article
    header
      h1 Pool Capacity
    .content
    footer 
      code zpool list

script#zfs-distribution-tmpl(type="text/x-jquery-tmpl")
  article
    header
      h1 Data Distribution
    .content
    footer
      code zfs list

script#zfs-tmpl(type="text/x-jquery-tmpl")
  div
    strong ${name}
    ${free}/${allocated} ${size} total

script#empty-widget-tmpl(type="text/x-jquery-tmpl")
  article
    header
    .content
    footer
